.__SIZE__margin-__NAME__ {
    margin: __VALUE__;
}

.__SIZE__margin-top-__NAME__ {
    margin-top: __VALUE__;
}

.__SIZE__margin-bottom-__NAME__ {
    margin-bottom: __VALUE__;
}

.__SIZE__margin-left-__NAME__ {
    margin-left: __VALUE__;
}

.__SIZE__margin-right-__NAME__ {
    margin-right: __VALUE__;
}